[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/glslang"]
	path = external/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "external/gli"]
	path = external/gli
	url = git@github.com:g-truc/gli.git
