[submodule "external/imgui"]
	path = external/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "external/glslang"]
	path = external/glslang
	url = git@github.com:KhronosGroup/glslang.git
[submodule "external/gli"]
	path = external/gli
	url = git@github.com:g-truc/gli.git
[submodule "external/glm"]
	path = external/glm
	url = git@github.com:g-truc/glm.git
[submodule "external/LegitProfiler"]
	path = external/LegitProfiler
	url = git@github.com:simplerr/LegitProfiler.git
[submodule "external/tinygltf"]
	path = external/tinygltf
	url = git@github.com:syoyo/tinygltf.git
[submodule "external/IconFontCppHeaders"]
	path = external/IconFontCppHeaders
	url = git@github.com:juliettef/IconFontCppHeaders.git
